In [37]:
import pandas as pd

data = {
    'date': [
        '2024-01-01','2024-01-02','2024-01-03',
        '2024-01-04','2024-01-05','2024-01-06',
        '2024-01-07'
    ],
    'sales': [10, 20, 30, 40, 50, 60, 70]
}

df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)

In [4]:
df

            sales
date
2024-01-01     10
2024-01-02     20
2024-01-03     30
2024-01-04     40
2024-01-05     50
2024-01-06     60
2024-01-07     70

In [5]:
df.resample('W').sum()

            sales
date
2024-01-07    280

In [9]:
df.resample('M').sum()

C:\Users\shaik\AppData\Local\Temp\ipykernel_13428\3731312487.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M').sum()

            sales
date
2024-01-31    280

In [14]:
import pandas as pd
import numpy as np

s = pd.Series([1, np.nan, np.nan, 4, np.nan])

print("Forward fill:\n", s.ffill())
print("Backward fill:\n", s.bfill())

Forward fill:
 0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
dtype: float64
Backward fill:
 0    1.0
1    4.0
2    4.0
3    4.0
4    NaN
dtype: float64

In [44]:
df.resample('M', label='left', closed='left').sum()

C:\Users\shaik\AppData\Local\Temp\ipykernel_13428\2993230650.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M', label='left', closed='left').sum()

            sales
date
2023-12-31    280

In [27]:
df.resample('W-thu').sum()   # Weeks ending on Monday

            sales
date
2024-01-04    100
2024-01-11    180

In [30]:
df.resample('M').agg({'sales':'sum'})

C:\Users\shaik\AppData\Local\Temp\ipykernel_13428\3793224956.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M').agg({'sales':'sum'})

            sales
date
2024-01-31    280

In [48]:
df.resample('H').interpolate()

C:\Users\shaik\AppData\Local\Temp\ipykernel_13428\3870675375.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df.resample('H').interpolate()

                         sales
date
2024-01-01 00:00:00  10.000000
2024-01-01 01:00:00  10.416667
2024-01-01 02:00:00  10.833333
2024-01-01 03:00:00  11.250000
2024-01-01 04:00:00  11.666667
...                        ...
2024-01-06 20:00:00  68.333333
2024-01-06 21:00:00  68.750000
2024-01-06 22:00:00  69.166667
2024-01-06 23:00:00  69.583333
2024-01-07 00:00:00  70.000000

[145 rows x 1 columns]

                                      ### DOWN_SAMPLING AND UP_SAMPLING

In [54]:
rng = pd.date_range('2026-01-01',periods = 40,freq = 'D')
sampling  = pd.DataFrame({'temperature':[20+i*0.2 for i in range(40)]},index = rng)

# Upsample example it increase the frequency of data
hour_data = sampling.resample('h').mean()
print(hour_data)

# down sample it decrease the frequecy of data
month_data = sampling.resample('m').mean()
print(0

                     temperature
2026-01-01 00:00:00         20.0
2026-01-01 01:00:00          NaN
2026-01-01 02:00:00          NaN
2026-01-01 03:00:00          NaN
2026-01-01 04:00:00          NaN
...                          ...
2026-02-08 20:00:00          NaN
2026-02-08 21:00:00          NaN
2026-02-08 22:00:00          NaN
2026-02-08 23:00:00          NaN
2026-02-09 00:00:00         27.8

[937 rows x 1 columns]